*
{
  font-family: 'Overpass';
  font-size: 22px;
  font-weight: bold;
}

#options
{
    float:left;
    height:400px;
    width:20%;
    padding:0 10px;
    background-color: #f6fafe;
}

.OptionsLabel
{
  color:#0D67BD;
}
#policy,#ppe
{
  padding:25 0px;
}

#statistics
{
  float:left;
  height:400px;
  width:20%;
  padding:0 10px;
}

#ball-simulation0
{
  float: left;
  padding: 0px 25px 25px;
  width:40vw;
  height:25vw;
}

label
{
  color: #7F7F7F;
  text-align: left;
  font-size: 1em !important;
}

#defaultCanvas1
{
  width:100% !important;
  height:100% !important;
}

.container
{
  width:80%;
  margin: 0 auto;
}

#sick-stat0
{
  width:100%;
  color: #A90D0E;
  font-size: 3em;
}

#immune-stat0
{
  width:100%;
  color: #35A835;
  font-size: 3em;
}
#attribution
{
  font-size: .5em;
}
#deathStats
{
  padding-top: 8vh;
  color: #7F7F7F;
}

#dead-stat0
{
  font-size: 2em;
}
#ball-graph0
{
  width: 100%;
  padding-bottom: 6vh;
}

#ball-graph0>h2
{
  display: inline-block;
}

#defaultCanvas0
{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#bottomBar
{
  width:100%;
  display:flex;
  background-color: #F4F4F4;
}
table{
    table-layout: fixed;
}

th{
  word-wrap:break-word;
}
td
{
  font-size: 18px;
  text-align: center;
  word-wrap:break-word;
}
.InfectedCivilian{
text-align: center;
  color: #A90D0E;
}

#legend
{
  display: inline-block;
  margin:auto;
}

#topRow
{
  display: flex;
  width:85%;
  margin: auto;
}

/* The container */
.checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  border-style: solid;
  border-radius: 50%;
  border-color: #DCDCDC;
  border-width: 2px;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
  border-color: #0D68BB;
  border-width: 2px;
}

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
  border-radius: 50%;
  border-color: #0D68BB;
  border-width: 2px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  background-color: #0D68BB;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
  border-color: #0D68BB;
}

/* Style the indicator (dot/circle) */
.checkcontainer .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 17px;
	height: 17px;
    border-radius: 50%;
}
